@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

button.primary {
  @apply bg-primaryAccent;
  @apply rounded;
  @apply text-sm;
  @apply font-medium;
  @apply transitionMain;
  color: white;
  letter-spacing: 2%;
}

button.primary:hover,
button.primary:focus {
  @apply bg-primaryHover;
}

button.primary,
input {
  padding: 12px 24px;
}
input {
  @apply rounded;
  @apply bg-greyLight;
  border: 1px solid transparent;
  @apply transitionMain;
}

input:focus {
  outline: none;
  @apply border-primaryAccent;
}

button.reset {
  @apply text-primaryAccent;
  /* @apply font-; */
  @apply text-lg;
}
